body {
	background: url(../image/verde.png)repeat-x 50%;
    background-color: #DFDFDF;
    margin: 0px;
    height: 100%;
    position: relative;
}
*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
.container{
	margin-top: 19px;
	border-radius: 3px;
	border:1px solid #dbdbdb;
	
}
.app{
	background: url('../image/chat-panel-bg.png');
	background-color: #EBE6E0;
}

aside,section{
	background-color: #EEEEEE;
	outline: 1px solid #DBDBDB;
	padding: 10px;
}
ul{
	margin: 0px;
	padding:0px 0px 0px 0px;
}
.headered ul li {
	display: inline-block;
}
.headered img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 15px;

}
.icono{
	font-size: 24px;
	padding: 8px;
	cursor:pointer;
	margin-left: 10px;
	color:#777777;
}
/*part2*/
.busqueda{
	background-color: #fbfbfb;
	position:relative;
}
.busqueda .icon-b{
	padding:8px;
	position: absolute;
	color:rgba(219, 219, 219,0.9);
	font-size: 20px;
	top:5px;
	left: 15px;
}
.busqueda input{
	width: 250px;
	margin:10px;
	border:1px solid rgba(219, 219, 219,0.3);
	height: 30px;
	padding: 0px 35px;
}